<html>
  <head>
  	<link rel="icon" href="https://media.discordapp.net/attachments/713379026487476235/819072942319206430/KPto4E44ExWZNAgGSdqYGa2sxpjxPu0cBjmtYwqHiZSpL8iFAa5oo0owksBGMRLWeBeoQAMckUbUYSXAjCIl7LAvUIBGOSKNqIIL.png" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>電神養成計畫</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <form method="post">
      <input id="User" placeholder="使用者帳號" name="User_name"></input><br><br>
      <input id="User" placeholder="密碼" name="password1" type="password"></input><br><br>
      <input id="User" placeholder="再次輸入密碼" name="password2" type="password"></input><br><br>
      <input id="User" placeholder="請輸入金鑰" name="key"></input><br><br>
      <button name="send" type="submit">註冊</button><br>
      金鑰：為了預防惡意刷賬號，必須向管理員<a href=https://wakeye.reflecstreamz.repl.co/feed_back.html>獲取金鑰</a>。金鑰可能會不定期變更。<br><b>注意：目前無重設密碼功能！！！</b>
    </form>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="footer">
      <big><i>database by Ststone</i></big>
    </div>
  </body>
</html>